#chatRoomMemberAvatars{
    display: flex;
    &>li{
        position: relative;
    }
    &>li>img{
        position: relative;
        border-radius: 99%;
        box-shadow: 1px 1px 1px grey;
    }
    & li:first-child{
        left: 0;
    }
    & li:not(:first-child){
        left: -1%;
    }
}