nav {
  display: flex;
  flex-direction: row;
}
nav > * {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > *:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
}
nav > *:not(:hover) {
  transition: 0.3s;
}
